In [1]:
import pandas as pd

# Load the dataset
file_path = 'movies.csv'
movies_df = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure
movies_df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [5]:
movies_df.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [18]:
grp_movies = movies_df.groupby("Genre") 

Genre_Count_list = []

for grp, grp_info in grp_movies:
    Genre_Count_dict = {}
    Genre_Count_dict["Unique_Movie_Genres"] = grp

    grp_res = grp_movies.get_group(grp)
    
    for index, row in grp_res.iterrows():
        if row ["Genre"] not in Genre_Count_dict.keys():
            Genre_Count_dict[row["Genre"]] = [row["Film"]]
        else:
            if row["Film"] not in Genre_Count_dict.values():
                Genre_Count_dict[row["Genre"]].append(row["Film"])
    Genre_Count_list.append(Genre_Count_dict)

Genre_Count_list

[{'Unique_Movie_Genres': 'Action', 'Action': ['Killers']},
 {'Unique_Movie_Genres': 'Animation',
  'Animation': ['WALL-E',
   'Tangled',
   'Gnomeo and Juliet',
   'Gnomeo and Juliet']},
 {'Unique_Movie_Genres': 'Comdy', 'Comdy': ['Made of Honor']},
 {'Unique_Movie_Genres': 'Comedy',
  'Comedy': ['Youth in Revolt',
   'You Will Meet a Tall Dark Stranger',
   'When in Rome',
   'What Happens in Vegas',
   "Valentine's Day",
   'The Ugly Truth',
   'The Proposal',
   'The Invention of Lying',
   'The Heartbreak Kid',
   'The Back-up Plan',
   "She's Out of My League",
   'Sex and the City Two',
   'Sex and the City 2',
   'Sex and the City',
   'Penelope',
   'Over Her Dead Body',
   'Our Family Wedding',
   'No Reservations',
   "Nick and Norah's Infinite Playlist",
   'Miss Pettigrew Lives for a Day',
   'Marley and Me',
   'Mamma Mia!',
   'Mamma Mia!',
   'Love & Other Drugs',
   'Life as We Know It',
   'License to Wed',
   'Letters to Juliet',
   'Leap Year',
   'Knocked Up',
   'Just Wright',
   "It's Complicated",
   'I Love You Phillip Morris',
   'High School Musical 3: Senior Year',
   "He's Just Not That Into You",
   'Good Luck Chuck',
   'Going the Distance',
   'Ghosts of Girlfriends Past',
   'Four Christmases',
   'Enchanted',
   'Beginners',
   '27 Dresses']},
 {'Unique_Movie_Genres': 'Drama',
  'Drama': ['Water For Elephants',
   'The Twilight Saga: New Moon',
   "The Time Traveler's Wife",
   'The Duchess',
   'Remember Me',
   'Rachel Getting Married',
   'Not Easily Broken',
   'My Week with Marilyn',
   'Love Happens',
   'Fireproof',
   'Dear John',
   'A Serious Man',
   'A Dangerous Method']},
 {'Unique_Movie_Genres': 'Fantasy',
  'Fantasy': ['The Curious Case of Benjamin Button']},
 {'Unique_Movie_Genres': 'Romance',
  'Romance': ['Zack and Miri Make a Porno',
   'Waitress',
   'Waiting For Forever',
   "Tyler Perry's Why Did I get Married",
   'Twilight: Breaking Dawn',
   'Twilight',
   'Something Borrowed',
   'P.S. I Love You',
   'One Day',
   "New Year's Eve",
   'Music and Lyrics',
   'Monte Carlo',
   'Jane Eyre']},
 {'Unique_Movie_Genres': 'Romence', 'Romence': ['Midnight in Paris']},
 {'Unique_Movie_Genres': 'comedy', 'comedy': ['(500) Days of Summer']},
 {'Unique_Movie_Genres': 'romance', 'romance': ['Across the Universe']}]

In [19]:
for row in Genre_Count_list:
    for key, value in row.items():
        item = {}
        if isinstance(value, list):
            for v in value:
                if v not in item.keys():
                    item[v] = 1
                else:
                    item[v] += 1
            row[key] = item

Genre_Count_list

[{'Unique_Movie_Genres': 'Action', 'Action': {'Killers': 1}},
 {'Unique_Movie_Genres': 'Animation',
  'Animation': {'WALL-E': 1, 'Tangled': 1, 'Gnomeo and Juliet': 2}},
 {'Unique_Movie_Genres': 'Comdy', 'Comdy': {'Made of Honor': 1}},
 {'Unique_Movie_Genres': 'Comedy',
  'Comedy': {'Youth in Revolt': 1,
   'You Will Meet a Tall Dark Stranger': 1,
   'When in Rome': 1,
   'What Happens in Vegas': 1,
   "Valentine's Day": 1,
   'The Ugly Truth': 1,
   'The Proposal': 1,
   'The Invention of Lying': 1,
   'The Heartbreak Kid': 1,
   'The Back-up Plan': 1,
   "She's Out of My League": 1,
   'Sex and the City Two': 1,
   'Sex and the City 2': 1,
   'Sex and the City': 1,
   'Penelope': 1,
   'Over Her Dead Body': 1,
   'Our Family Wedding': 1,
   'No Reservations': 1,
   "Nick and Norah's Infinite Playlist": 1,
   'Miss Pettigrew Lives for a Day': 1,
   'Marley and Me': 1,
   'Mamma Mia!': 2,
   'Love & Other Drugs': 1,
   'Life as We Know It': 1,
   'License to Wed': 1,
   'Letters to Juliet': 1,
   'Leap Year': 1,
   'Knocked Up': 1,
   'Just Wright': 1,
   "It's Complicated": 1,
   'I Love You Phillip Morris': 1,
   'High School Musical 3: Senior Year': 1,
   "He's Just Not That Into You": 1,
   'Good Luck Chuck': 1,
   'Going the Distance': 1,
   'Ghosts of Girlfriends Past': 1,
   'Four Christmases': 1,
   'Enchanted': 1,
   'Beginners': 1,
   '27 Dresses': 1}},
 {'Unique_Movie_Genres': 'Drama',
  'Drama': {'Water For Elephants': 1,
   'The Twilight Saga: New Moon': 1,
   "The Time Traveler's Wife": 1,
   'The Duchess': 1,
   'Remember Me': 1,
   'Rachel Getting Married': 1,
   'Not Easily Broken': 1,
   'My Week with Marilyn': 1,
   'Love Happens': 1,
   'Fireproof': 1,
   'Dear John': 1,
   'A Serious Man': 1,
   'A Dangerous Method': 1}},
 {'Unique_Movie_Genres': 'Fantasy',
  'Fantasy': {'The Curious Case of Benjamin Button': 1}},
 {'Unique_Movie_Genres': 'Romance',
  'Romance': {'Zack and Miri Make a Porno': 1,
   'Waitress': 1,
   'Waiting For Forever': 1,
   "Tyler Perry's Why Did I get Married": 1,
   'Twilight: Breaking Dawn': 1,
   'Twilight': 1,
   'Something Borrowed': 1,
   'P.S. I Love You': 1,
   'One Day': 1,
   "New Year's Eve": 1,
   'Music and Lyrics': 1,
   'Monte Carlo': 1,
   'Jane Eyre': 1}},
 {'Unique_Movie_Genres': 'Romence', 'Romence': {'Midnight in Paris': 1}},
 {'Unique_Movie_Genres': 'comedy', 'comedy': {'(500) Days of Summer': 1}},
 {'Unique_Movie_Genres': 'romance', 'romance': {'Across the Universe': 1}}]

In [20]:
movies_df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [21]:
grp_movies = movies_df.groupby("Genre") 

Audience_Score_list = []

for grp, grp_info in grp_movies:
    Audience_Score_dict = {}
    Audience_Score_dict["Unique_Movie_Genres"] = grp

    grp_res = grp_movies.get_group(grp)
    
    for index, row in grp_res.iterrows():
        if row ["Genre"] not in Audience_Score_dict.keys():
            Audience_Score_dict[row["Genre"]] = [row["Audience score %"]]
        else:
            if row["Audience score %"] not in Audience_Score_dict.values():
                Audience_Score_dict[row["Genre"]].append(row["Audience score %"])
    Audience_Score_list.append(Audience_Score_dict)

Audience_Score_list

[{'Unique_Movie_Genres': 'Action', 'Action': [45]},
 {'Unique_Movie_Genres': 'Animation', 'Animation': [89, 88, 52, 52]},
 {'Unique_Movie_Genres': 'Comdy', 'Comdy': [61]},
 {'Unique_Movie_Genres': 'Comedy',
  'Comedy': [52,
   35,
   44,
   72,
   54,
   68,
   74,
   47,
   41,
   47,
   60,
   49,
   49,
   81,
   74,
   47,
   49,
   64,
   67,
   70,
   77,
   76,
   76,
   55,
   62,
   55,
   62,
   49,
   83,
   58,
   63,
   57,
   76,
   60,
   61,
   56,
   47,
   52,
   80,
   80,
   71]},
 {'Unique_Movie_Genres': 'Drama',
  'Drama': [72, 78, 65, 68, 70, 61, 66, 84, 40, 51, 66, 64, 89]},
 {'Unique_Movie_Genres': 'Fantasy', 'Fantasy': [81]},
 {'Unique_Movie_Genres': 'Romance',
  'Romance': [70, 67, 53, 47, 68, 82, 48, 82, 54, 48, 70, 50, 77]},
 {'Unique_Movie_Genres': 'Romence', 'Romence': [84]},
 {'Unique_Movie_Genres': 'comedy', 'comedy': [81]},
 {'Unique_Movie_Genres': 'romance', 'romance': [84]}]

In [22]:
for row in Audience_Score_list:
    for key, value in row.items():
        item = {}
        if isinstance(value, list):
            item["Min"] = min(value)
            item["Mean"] = round((sum(value) / len(value)), 2)
            item["Max"] = max(value)
            row[key] = item

Audience_Score_list

[{'Unique_Movie_Genres': 'Action',
  'Action': {'Min': 45, 'Mean': 45.0, 'Max': 45}},
 {'Unique_Movie_Genres': 'Animation',
  'Animation': {'Min': 52, 'Mean': 70.25, 'Max': 89}},
 {'Unique_Movie_Genres': 'Comdy',
  'Comdy': {'Min': 61, 'Mean': 61.0, 'Max': 61}},
 {'Unique_Movie_Genres': 'Comedy',
  'Comedy': {'Min': 35, 'Mean': 60.98, 'Max': 83}},
 {'Unique_Movie_Genres': 'Drama',
  'Drama': {'Min': 40, 'Mean': 67.23, 'Max': 89}},
 {'Unique_Movie_Genres': 'Fantasy',
  'Fantasy': {'Min': 81, 'Mean': 81.0, 'Max': 81}},
 {'Unique_Movie_Genres': 'Romance',
  'Romance': {'Min': 47, 'Mean': 62.77, 'Max': 82}},
 {'Unique_Movie_Genres': 'Romence',
  'Romence': {'Min': 84, 'Mean': 84.0, 'Max': 84}},
 {'Unique_Movie_Genres': 'comedy',
  'comedy': {'Min': 81, 'Mean': 81.0, 'Max': 81}},
 {'Unique_Movie_Genres': 'romance',
  'romance': {'Min': 84, 'Mean': 84.0, 'Max': 84}}]

In [24]:
print(Audience_Score_dict)

{'Unique_Movie_Genres': 'romance', 'romance': {'Min': 84, 'Mean': 84.0, 'Max': 84}}